.rule {
    background-color: #eee;
    margin-top: 20px;
}

.rule-container {
    width: 100%;
}

.rule-description {
    font-size: 0.7em;
}

.rule-selector {
    float: left;
}

.rule-name {
    display: inline;
    float: left;
}

.rule-example {
    float: right;
    font-size: 0.8em;
    font-family: "Courier New";
}

.property {
    padding-left: 30px;
}

.property-description {
    display: inline;
    font-size: 0.7em;
}

.xmloutput {
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 12px;
}

.xmloutput-container {
    height: 400px;
    width: 430px;
    position: fixed;
    margin-top: -50px;
}

.xml-error {
    background-color: #E66;
}

.ruleset-description {
    width: 100%;
    y-overflow: scroll;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    margin-bottom: -8px;
}

.rule-example span:hover {
    z-index: 25;
    position: relative;
    cursor: default;
}

.rule-example span span {
    display: none;
}

.rule-example span:hover span {
    display: block;
    position: absolute;
    left: 75px;
    top: -50px;
    border: 1px solid black;
    background-color: #eee;
    padding: 0 20px;
    font-family: "Courier New";
    font-size: 1.3em;
}

