/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

h1 {
    line-height: 36px;
    font-weight: bold;
    font-size: 24px;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Heavy'), local('Raleway-Heavy'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/PKCRbVvRfd5n7BTjtGiFZBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: local('Rokkitt'), url(http://themes.googleusercontent.com/static/fonts/rokkitt/v5/4Z-2qkHrI1biwaOxvW6ZTA.woff) format('woff');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: local('Rokkitt Bold'), local('Rokkitt-Bold'), url(http://themes.googleusercontent.com/static/fonts/rokkitt/v5/Mef17w3J4CtS0lw4Wa_8rxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body,
html {
    margin:0;
    padding:0;
    color:#1c1e25;
    font-family: sans-serif;
    background-image: url('../img/light_grey.png');
    background-color: #eee;
}
#wrap {
    width:1000px;
    margin:0 auto;
}


#nav ul li {
    margin: 2px;
    padding: 11px;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 150%;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 900;
    position: relative;
    letter-spacing: 2.5px;
    -webkit-transition: color .75s ease;
    transition: color .75s ease;
}

#nav ul li.active {
    background-color: #fff;
    color: #1C1E25;
}

.smaller {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 10.5px;
    letter-spacing: 1px;
}

.rule-container h2 {
    font-family: 'Rokkitt';
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin: 15px 0;
}

h1 {
    margin:0;
}
#nav {
    padding:5px 10px;
    margin-top: 30px;
}
#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
    display:inline;
    margin:0;
    padding:0;
    background: #1C1E25;
}
#main {
    float:left;
    width:530px;
    padding:10px;
}

h2 {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
#sidebar {
    float:right;
    width:430px;
    padding:10px;
}
#footer {
    clear:both;
    padding:5px 10px;
    text-align: center;
    background: #1c1e25;
    color: #fff;
    margin-top: 20px;
}

#footer p {
    margin:0;
}

#footer a {
    color: #5b949f;
}

* html #footer {
    height:1px;
}

.clear {
    clear: both;
}

.title h1 {
	text-align: center;
	font-family: 'Rokkitt', sans-serif;
	padding: 20px 0 10px 0;
	font-size: 56px;
    font-weight: 700;
}

.title h2 {
    font-family: 'Raleway';
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #5B949F;
}

.title {
	background: #1C1E25;
	color: #FFF;
    padding: 0 0 20px 0;

}

#header {
    padding: 30px 0 40px 0;
    width: 100%;
    text-align: center;
    background: #5b949f;
    margin-bottom: 40px;
}

#header a {
    color: #1c1e25;
}

#header p {
    letter-spacing: 0.3px;
    word-spacing: 0.4px;
}

.heading-wrap {
    width: 720px;
    margin: 0 auto 40px auto;
}

.heading-wrap h3 {
    font-family: 'Raleway';
    font-size: 25px;
    text-align: center;
    line-height: 31px;
    word-wrap: break-word;
    text-rendering: auto;
}




.inline {
	display: inline;
}


/* RULESETS*/

.rule {
    background-color: #5b949f;
    margin: 20px 0;
    color: #fff;
    padding: 10px;
}

.rule-container {
    width: 100%;
}

.rule-description {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0;
}

.rule-selector {
    float: left;
    margin: 13px 4px;
}

.rule-name {
    display: inline;
    float: left;
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
    line-height: 24px;
}

.rule-example {
    float: right;
    font-size: 0.8em;
    font-family: "Courier New";
}

.property {

    font-size: 18px;
    line-height: 24px;
    margin: 10px 0;
}

.property-description {
    display: inline;
    font-size: 12px;
}

.xmloutput {
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 12px;
}

.xmloutput-container {
    height: 400px;
    width: 430px;
    position: fixed;
    margin-top: -50px;
}

.xmloutput-container > div {
    padding: 10px 0;
    text-align: center;
}

.xml-error {
    background-color: #E66;
}

.ruleset-description {
    width: 100%;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    margin-bottom: -8px;
    max-width: 100%;
}

textarea.ruleset-description {
    height: 150px;
    font-size: 12px;
    resize: none;
}

textarea,input {
  outline none;
  vertical-align: middle;
}




.rule-example span:hover {
    z-index: 25;
    position: relative;
    cursor: default;
}

.rule-example > span {
    margin: 10px 0;
}

.rule-example span span {
    display: none;
}

.rule-example span:hover span {
    display: block;
    position: absolute;
    left: 75px;
    top: -50px;
    background-color: #1c1e25;
    padding: 0 20px;
    font-family: "Courier New";
    font-size: 15px;
}

